# environment variables
.env
.env.production

# dependencies
node_modules/
server/node_modules/
client/node_modules/

# build output
client/dist/
client/build/

# vite cache
client/.vite/

# OS files
.DS_Store
Thumbs.db

# editor folders
.vscode/
.idea/

# logs
*.log
npm-debug.log*

# temp files
*.tmp
*.zip